/* Style the about me */

:root {
    --PrimaryColor: black;
    --SecondaryColor: #FFDA76;
    --FontPrimary: "Oswald", sans-serif;
    --FontSecondary: "Source Sans pro", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 100vw;
    background-color: var(--PrimaryColor);
}

.section-container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    padding: 2rem 1.5rem;
}

.section-info-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 50vw;
    gap: 0.5rem;
}

.title-about {
    font-family: var(--FontPrimary);
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFDA76;
 
}


.description-about{
    font-family: var(--FontSecondary);
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 0 20px;
    max-width: 100%;
}


.section-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 5rem;
    color: white;
    cursor: pointer;
    background-color: grey;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px -15px #ffffff;
    border: 1px solid white;
}
.section-icons .icon{  
    gap: 1.5rem;
}

.icon:nth-child(1):hover {
   color: yellow;
}
.icon:nth-child(2):hover {
    color: #007CFF;
}
.icon:nth-child(3):hover {
    color: #E8622B;
}
.icon:nth-child(4):hover {
    color: #007CFF;
}
.icon:nth-child(5):hover {
    color: #007CFF;
}
.section-img-about {
    max-width: 100%;
    max-width: 50vw;
    width: 100%;
    height: auto;
    margin-top: -200px;
}